@model Estimatz.UI.Models.IndicatorModel

<div class="col-12 col-sm-6 col-lg-3 border rounded shadow-sm d-flex flex-column text-center m-3" style="width: 200px; height: 100px;">
	<span class="text-black-50 mt-2" style="font-size: 14px;">@Model.Description</span>
	<span style="font-size: 42px;">@Model.Value</span>
</div>