@model Estimatz.UI.Models.PlayerModel

<div id="player_@Model.UserId" class="position-relative border border-1 rounded d-flex flex-column p-2 shadow-sm col-2 m-2" style="width: 90px; height: 120px;">
	<input type="hidden" asp-for="UserId" />
	<p style="font-size: 14px; max-width: 73px; line-height: 15px;" class="text-center position-absolute w-100">@Model.Name</p>

	@foreach (var vote in Model.Votes)
	{
		if (vote.StoryId == Model.SelectedStory)//TODO: Isso daqui dá pra melhorar
		{ 
			if (vote.TurnCards)
			{
				if (vote.Vote == "coffee")
				{
					<img width="30px" height="30px" style="margin: auto;" src="~/icons/coffee-cup.png" />
				}
				else if (vote.Vote == "interrogation")
				{
					<h1 class="m-auto fs-2">?</h1>
				}
				else if (vote.Vote == "meio")
				{
					<h1 class="m-auto fs-2">0.5</h1>
				}
				else
				{
					<h1 class="m-auto fs-2">@vote.Vote</h1>
				}
			}
		}
	}

	<span class="position-absolute" style="right: 0; bottom: 0; cursor: pointer;"><i class="bi bi-three-dots-vertical"></i></span>
</div>